<div id="footer">
    <div class="wrap-footer">
      <div class="footer-logo-social foooter-card">
        <img src="../assets/shared/desktop/logo-white.svg" alt="logo-white" />
        <div class="footer-social">
          <span class="social-icon social-icon-facebook"></span>
          <span class="social-icon social-icon-youtube"></span>
          <span class="social-icon social-icon-twitter"></span>
          <span class="social-icon social-icon-pinterest"></span>
          <span class="social-icon social-icon-insta"></span>
        </div>
      </div>
      <ul class="footer-nav foooter-card">
        <li class="footer-nav-item">
          <a href="#header" class="footer-nav-link">HOME</a>
        </li>
        <li class="footer-nav-item">
          <a href="stories.html" class="footer-nav-link">STORIES</a>
        </li>
        <li class="footer-nav-item">
          <a href="features.html" class="footer-nav-link">FEATURES</a>
        </li>
        <li class="footer-nav-item">
          <a href="pricing.html" class="footer-nav-link">PRICING</a>
        </li>
      </ul>
      <div class="footer-invite foooter-card">
        <a class="button-gai button-gai--white footer-button" href="index.html">GET AN INVITE</a>
        <p>Copyright 2019. All Rights Reserved</p>
      </div>
    </div>
  </div>