<header id="header">
    <nav class="nav-bar">
      <div class="header-logo">
        <img src="../assets/shared/desktop/logo.svg" alt='logo-black' class="header-logo-img"/>
      </div>
      <div class="burger">
        <span></span>
      </div>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-link" href='stories.html'>STORIES</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link">FEATURES</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-link">PRICING</a>
        </li>
      </ul>
      <div class="dark-button-wrap">
        <button class="dark-button">GET AN INVITE</button>
      </div>
    </nav>
  </header>